{{ define "main" }}
<article>
  <h2>Classes and Seminars</h2>
  <p>Here are some of the classes I have offered in recent years, including pointers to upcoming
	  courses and other resources, when they are available. Classes are listed once but
	  are typically taught more frequently than that.</p>

  {{ range first 6 (.Data.Pages.GroupByDate "2006") }}
  <h3>{{ .Key }}</h3>
  {{ range .Pages }}
  <dl>
		<dt><a href="{{ .Permalink }}">{{ .Title }}</a></dt>
    <dd>{{ partial "more-summary.html" . }}</dd>
  </dl>
  {{ end }}
  {{ end }}
</article>
{{ end }}
