{{ define "main" }}
<main>
  <article>
    <div class="article-header"><h1>{{ .Title }} of</h1></div>
    <!-- "{{.Content}}" pulls from the content of the corresponding _index.org -->
    {{ .Content }}
    <div class="article-content">
      <!-- Ranges through content/posts/*.org -->
      {{- range .Pages.GroupByDate "2006" -}}
      <h3 class="has-text-left">{{ .Key }}</h3>
      <div id="toc">
	{{- range .Pages -}}
	<span class="toc-date">{{ .Date.Format "02 Jan" }}</span>
	<span class="toc-link"><a href="{{ .Permalink }}">{{ .Params.likeURL | safeHTML }}</a></span>
	{{- end -}}
      </div>
      {{ end }}
    </div>
    <div class="article-nav"></div>
    <div class="article-meta"></div>
  </article>
</main>
{{ end }}


