<footer>
  <p class="h-card vcard">&copy;
    <a href="{{ .Site.BaseURL }}"
       class="p-name u-url url p-author metatag" rel="me">
      {{ .Site.Author.name }}
    </a>
    <img src="{{ .Site.BaseURL }}{{ .Site.Author.photo }}" alt="A picture of Peter Smith"
	 class="u-photo" style="display: none" loading="lazy">
    1995&ndash;{{ now.Year }} &bull; Licenced under
    <a href="{{  .Site.Author.licenceurl }}" class="metatag">{{ .Site.Author.licence }}</a>
  </p>
  <div class="badges">
    {{ range .Site.Menus.badges }}
       <a rel="me" href="{{ .URL }}"><img src="{{ .Post }}" width="80" height="15" alt="Badge for {{ .Name }}"></a>
    {{ end }}
  </div>
</Footer>
