<div class="meta-data columns">
  <div class="column is-left has-text-left">
    {{ $MyDate := .PublishDate.Format "2006-01-06 15:04 -0700" }}
    {{ if eq $MyDate "0001-01-01 00:00 +0000" }}{{ $MyDate = .Lastmod.Format "2006-01-06 15:04 -0700" }}{{ end }}
    <p>Created: <time class="dt-published" datetime="{{ $MyDate }}">{{ $MyDate }}</time></p>
    <p>Updated: <time class="dt-updated" datetime="{{ .Lastmod.Format "2006-01-06 15:04 -0700" }}">{{ .Lastmod.Format "2006-01-06 15:04" }}</time><p>
  </div>
  <div class="column is-right has-text-right">
    {{ partial "list-categories" . }}
    {{ partial "list-tags" . }}
    <a class="u-url uid" href="{{ .Permalink }}"><i class="fas fa-link"></i></a>&nbsp;
    <a class="" href="/{{ .Type }}/">{{ humanize .Type }}</a>
    <p><a rel="author" class="p-author h-card" href="{{ .Site.BaseURL  }}">Author: {{ .Site.Author.name }}</a></p>
  </div>
</div>
