<details class="article-meta">
  <summary>Page meta data</summary>
  <div id="article-meta-details" class="topborder">
    <div class="grid-child">
      <ul class="has-text-left">
	<li>Word count: {{ .FuzzyWordCount }}</li>
	<li>Reading time: {{ .ReadingTime }}</li>
	<li>Author: .Site.Author</li>
	<li>Section: {{ .Type }}</li>
	<li>Kind: {{ .Kind }}</li>
	{{ $dateTime := .PublishDate.Format "2006-01-02" }}
	{{ $dateFormat := .Site.Params.dateFormat | default "2 Jan 2006 15:04" }}
	<li>Published: <time datetime="{{ $dateTime }}">{{ .PublishDate.Format $dateFormat }}</time><li>
	<li>Updated: {{ .Lastmod.Format "2 Jan 2006 15:04" }}</li>
      </ul>
    </div>
    <div class="grid-child">
      <ul class="has-text-left">
	{{ with .Params.categories }}
	{{ range . }}
	{{ $href := print (absURL "categories/") (urlize .) }}
	<li><a  href="{{ $href }}">{{ upper . }}</a></li>
	{{ end }}
	{{ end }}
      </ul>
      <ul class="has-text-left">
	{{ with .Params.tags }}
	{{ range . }}
	{{ $href := print (absURL "tags/") (urlize .) }}
	<li><a  href="{{ $href }}">{{ . }}</a></li>
	{{ end }}
	{{ end }}
      </ul>
    </div>
    <div class="grid-child">
      <ul class="has-text-left">
	<li><a href="{{ .Permalink }}">Permalink</a></li>
	<li>Bundle type: {{ .BundleType }}</li>
	<li>Source: {{ .File.Path }}</li>
    </div>
</div>
</details>
