<div class="article-meta">
  <div class="article-meta-details">
    <div class="grid-child">
      <ul class="has-text-left">
	<li>Word count: {{ .FuzzyWordCount }}</li>
	<li>Reading time: {{ .ReadingTime }} minutes</li>
	<li><a class="u-url u-uid" href="{{ .Permalink }}">Permalink</a></li>
	{{ $dateTime := .PublishDate.Format "2006-01-02" }}
	{{ $dateFormat := .Site.Params.dateFormat | default "2 Jan 2006 15:04:05" }}
	<li>Published: <time class="dt-published"
			     datetime="{{ $dateTime }}">{{ .PublishDate.Format $dateFormat }}</time><li>
	<li>Updated: {{ .Lastmod.Format "2 Jan 2006 15:04:05" }}</li>
	<li>Author:
	  <div class="p-author h-card">
	    <img rel="me" class="u-photo hidden" src="{{ .Site.Author.photo }}" alt="Headshot of Peter Smith" width="250" height="250"  /><br />
	    <a  rel="me" class="u-url u-uid url uid url fn n" href="{{ .Site.BaseURL }}">
	      <span class="p-name"><span class="p-given-name">Peter</span> <span class="p-family-name">Smith</span></span>
	    </a>
	  </div>
	</li>
      </ul>
    </div>
    <div class="grid-child">
      <ul class="has-text-left">
	{{ with .Params.categories }}
	{{ range . }}
	{{ $href := print (absURL "categories/") (urlize .) }}
	<li><a  href="{{ $href }}">{{ upper . }}</a></li>
	{{ end }}
	{{ end }}
      </ul>
      <ul class="has-text-left">
	{{ with .Params.tags }}
	{{ range . }}
	{{ $href := print (absURL "tags/") (urlize .) }}
	<li><a  href="{{ $href }}">{{ . }}</a></li>
	{{ end }}
	{{ end }}
      </ul>
    </div>
    <div class="grid-child">
      <ul class="has-text-left">
	<li>Section: {{ .Type }}</li>
	<li>Kind: {{ .Kind }}</li>
	<li>Bundle type: {{ .BundleType }}</li>
	<li>Source: {{ .File.Path }}</li>
    </div>
  </div>
</div>
