<div class="article-header">
  <a href="{{ .Permalink }}" ><h1 class="article-title p-name">{{ .Title }}</h1></a>
  {{ $dateTime := .PublishDate.Format "2006-01-02 15:04" }}
  <h2><time datetime="{{ $dateTime }}">{{ .PublishDate.Format "2 Jan 2006" }}</time></h2>
  <ul>
  {{ with .Params.categories }}
    {{ range . }}
      {{ $href := print (absURL "categories/") (urlize .) }}
      <li><a href="{{ $href }}">{{ upper . }}</a></li>
      {{ end }}
    {{ end }}
  </ul>
  <hr>
  <ul>
  {{ with .Params.tags }}
    {{ range . }}
      {{ $href := print (absURL "tags/") (urlize .) }}
      <li><a class="p-category" href="{{ $href }}">{{ . }}</a></li>
      {{ end }}
    {{ end }}
  </ul>
  <hr>
</div>
