<div class="h-card">
  {{- $src := "/images/petersmith01.jpg" -}}
  {{- $class := "u-photo hidden" -}}
  {{- $alt := "A photo of Peter Smith" -}}
  {{ partial "image.html" (dict "context" . "class" $class  "alt" $alt "src" $src ) }}
  <a class="p-name u-url u-uid hidden" rel="me" href="http://petersmith.org/">Peter Smith</a>
  <span class="p-given-name hidden">Peter</span>
  <span class="p-family-namee hidden">Smith</span>
  <span class="p-adr h-adr">
    <span class="p-localitye hidden">Auckland</span>
    <span class="p-country-namee hidden">New Zealand</span>
  </span>
  <span class="p-category hidden">Strategic management</span>
  <span class="p-org h-card"><a class="p-org hidden" href="https://auckland.ac.nz/">The University of Auckland</a></span>
  <p class="p-note">{{ .Site.Copyright }}</p>
</div>
