<div class="h-card">
  <img class="u-photo" alt="A photo of Peter Smith" src="{{ "/images/petersmith01.jpg" | absURL }}"/>
  <a class="p-name u-url u-uid hidden" rel="me" href="http://petersmith.org/">Peter Smith</a>
  <span class="p-given-name">Peter</span>
  <span class="p-family-name">Smith</span>
  <span class="p-adr h-adr">
    <span class="p-locality">Auckland</span>
    <span class="p-country-name">New Zealand</span>
  </span>
  <span class="p-category hidden">Strategic management</span>
  <span class="p-org h-card"><a class="p-org" href="https://auckland.ac.nz/">The University of Auckland</a></span>
  <p class="p-note">{{ .Site.Copyright }}</p>
</div>
