{{- define "main" -}}
{{"<!-- index.html -->" | safeHTML }}

{{- $paginator := (.Paginate .Site.RegularPages.ByDate.Reverse) -}}

{{- if (eq .Paginator.HasPrev false) -}}
<article class="header">
  <!-- Note that the content for index.html, as a sort of list page, will pull from content/_index.md -->
  {{- .Content -}}
</article>
{{- end -}}


{{- range  $paginator.Pages -}}
{{- $updated := "posted" -}}
{{- if eq .Date .Lastmod -}}
{{- $updated ="updated" -}}
{{- end -}}
    <article class="summary">
      <div class="grid-child">
	<h3><a href="{{ .Permalink }}" class="article-title p-name">{{ .Title }}</a></h3>
	{{ partial "showanyimage" . }}
      </div>
      <div class="grid-child">
	<p>A <a href="/{{ .Type }}/" title="Link to all {{ .Type }}">{{ .Type }}</a> entry {{ $updated }} on {{ .Lastmod.Format "2 Jan 2006" }}</p>
	{{ .Summary }}
	{{- if .Truncated }}
	<p><a href='{{ .Permalink }}'>Full item … </a></p>
	{{- end }}
	{{ partial "category-list" . }}
	{{ partial "tag-list" . }}
      </div>
    </article>
{{- end -}}

<article>
  {{- partial "paginator" . -}}
  <hr>
</article>

{{- partial "webmentions" . -}}
{{- partial "listPageResources" . -}}

{{- end -}}
