{{ define "main" }}
<article>
  {{ "<!-- taxonomy/tag.terms.html -->" | safeHTML }}
  <div class="article-header"><h1>{{ humanize .Data.Plural }} alphabetically</h1></div>
  <div class="article-content">{{ $data := .Data }}
    <ul class="wrappinglist">
      {{ range .Data.Terms.Alphabetical }}
      <li><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a> ({{ .Count }})</li>
      {{- end -}}
    </ul>
  </div>
  <div class="article-nav"></div>
  <div class="article-meta"></div>
</article>

<article>
  <div class="article-header"><h1>{{ humanize .Data.Plural }} by usage</h1></div>
  <div class="article-content">{{ $data := .Data }}
    <ul class="wrappinglist">
      {{ range .Data.Terms.ByCount }}
      <li><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a> ({{ .Count }})</li>
      {{ end }}
    </ul>
  </div>
  <div class="article-nav"></div>
  <div class="article-meta"></div>
</article>
{{ end }}
