<!DOCTYPE html>
<html lang="en">
<head>
{{ partial "meta.html" . }}
{{ partial "head_includes.html" . }}
{{ partial "javascript.html" . }}
</head>
<body>
	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TLCH5SD"
										height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->
	<div id="wrapper">
		<header>
     	<div id="titlebar">
		   	<h2><a href="{{ .Site.BaseURL  }}">Peter Smith</a></h2>
			</div>

			<nav class="navbar">
				<ul>
					<li><a href="{{ .Site.BaseURL  }}"><i class="fa fa-home"></i></a></li>
					<li><a href="https://github.com/psmith1303/" title="Peter Smith on GitHub">
							<i class="fa fa-github"></i></a></li>
					<li><a href="https://twitter.com/JustAnotherCog" title="Peter Smith on LinkedIn">
							<i class="fa fa-linkedin"></i></a></li>
					<li><a href="javascript:onclick=psmithContact()" title="Email Peter Smith">
							<i class="fa fa-envelope"></i></a></li>
				</ul>
			</nav>
			
			<nav class="navbar">
				<ul>
					<li><a href="/journal/">Journal</a></li>
					<li><a href="/papers/">Papers</a></li>
					<li><a href="/teaching/">Teaching</a></li>
					<li><a href="/resources/">Resources</a></li>
					<li><a href="/resources/about-me/">About</a></li>
					<li><a href="/blog/">Blog</a></li>
				</ul>
			</nav>
		</header>
