{{ define "main" }}
<main>
  {{- if eq .Paginator.HasPrev false -}}


  <div class="homepage-content">
    <article>
      <div class="article-content">
      <!-- Note that the content for index.html, as a sort of list page, will pull from content/_index.md -->
      {{- .Content -}}
      </div>
    </article>
  </div>
  {{- end -}}
  <div>
    {{ range (.Paginate (.Site.RegularPages.ByDate.Reverse)).Pages   }}
    <article>
      {{- if eq .Type "blog" -}}
        {{- partial "summary-blog.html" . -}}
      {{- else if eq .Type "check-ins" -}}
        {{- partial "summary-check-in.html" . -}}
      {{- else if eq .Type "notes" -}}
        {{- partial "summary-notes.html" . -}}
      {{- else if eq .Params.wm_type "like" -}}
        {{- .Scratch.Set "webmentionURL" .Params.likeURL -}}
        {{- partial "summary-webmention.html" . -}}
      {{- else if eq .Params.wm_type "reply" -}}
        {{- .Scratch.Set "webmentionURL" .Params.replyURL -}}
        {{- partial "summary-webmention.html" . -}}
      {{- else -}}
      DEFAULT
        {{- partial "summary-blog.html" . -}}
      {{- end -}}
      </article>
    {{ end }}
    <article><div class="article-content">{{- partial "paginator.html" . -}}</div></article>
  </div>
</main>
{{ end }}
