<!-- index.html -->

{{ partial "header.html" . }}

<div class="row frontpage">
				
	<div class="col col-5">
		<h4><a href="/journal">Journal</a></h4>
		{{ range  first 3 (where .Site.RegularPages.ByDate.Reverse "Section" "journal") }}
		  {{ partial "more-summary.html" . }}
			<hr>
		{{end}}
	</div>

  


	<div class="col col-4">
  	<h4><a href="/papers/">Papers</a></h4>
    <ul>
      {{ range first 5 (where .Site.RegularPages.ByDate.Reverse "Section" "papers") }}
      <li>{{ .Params.citation | markdownify | safeHTML }}
        <a href="{{ .Permalink }}">Abstract</a>
          {{ if isset .Params "file" }}
					  &hybull; <a href="{{.Site.BaseURL}}files/papers/{{ .Params.file }}">PDF</a>
				{{ end }}
      </li>
      {{ end }}
    </ul>
	</div>

	<div class="col col-3">
		<h4><a href="/teaching/">Teaching</a></h4>
    {{ range first 5 (where .Site.RegularPages.ByDate.Reverse "Section" "teaching") }}
      <h5 class="caps">{{.Title }}</h5>
			<ul class="tight">		
  			<li>Dates: {{ .Params.date.Format "January" }}&ndash;{{ dateFormat "January 2006" .Params.enddate  }}</li>
				<li><a href="{{ .Permalink }}"> [Details]</a></li>
		</ul>	
		{{ end }}
  </div>

</div> 


<div class="biobar">
  {{ range first 1 (where .Data.Pages "Slug" "about-me") }}
		{{ partial "more-summary.html" . }}
	{{ end }}
</div>
					

{{ partial "footer.html" . }}
