{{"<!-- partials/article-h-entry.html -->" | safeHTML }}
<a class="u-url u-uid hidden" href="{{ .Permalink }}">{{ .Permalink }}</a>
<time class="dt-published hidden" datetime="{{ .PublishDate.Format "2006-01-02" }}">{{ .PublishDate.Format "2 Jan '06 15:04" }}</time>
<span class="p-author h-card hidden"><img rel="me" class="u-photo hidden" src="{{ .Site.Author.photo }}" alt="Headshot of Peter Smith" />
  <a  rel="me" class="u-url u-uid url uid url fn n hidden" href="{{ .Site.BaseURL }}">
    <span class="p-name hidden"><span class="p-given-name">Peter</span>
      <span class="p-family-name hidden">Smith</span></span></a>
</span>
{{- with .Params.tags -}}
{{- range . -}}
{{- $href := print (absURL "tags/") (urlize .) -}}
<a class="p-category hidden" href="{{ $href }}">{{ . }}</a></li>
{{- end -}}
{{- end -}}
