{{ $backlinks := slice -}}
{{- $path_base := .page.File.ContentBaseName -}}
{{- $path_base_re := printf `["/(]%s["/)]` $path_base -}}

{{- range where site.Pages "RelPermalink" "ne" .page.RelPermalink -}}
    {{- if (findRE $path_base_re .RawContent 1) -}}
        {{- $backlinks = $backlinks | append . -}}
    {{- end -}}
{{- end -}}

{{- with $backlinks -}}
    <section id="backlinks">
        {{- printf "%s" ($.heading | default "<h9>Backlinks</h9>") | safeHTML -}}
        <nav>
            <ul>
                {{- range . -}}
                    <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
                {{- end -}}
            </ul>
        </nav>
    </section>
{{ end }}
