{{"<!-- partials/category-list.html -->" | safeHTML }}
<ul class="horizontal categories-and-tags">
  {{- with .Params.categories -}}
      {{- range . -}}
          {{- $href := print (absURL "categories/") (urlize .) -}}
          <li><a  href="{{ $href }}">{{ upper . }}</a></li>
      {{- end -}}
  {{- end -}}
  <li><a  href="/categories">ALL</a></li>
  {{- with .Params.tags -}}
      {{- range . -}}
          {{- $href := print (absURL "tags/") (urlize .) -}}
          <li><a class="p-category" href="{{ $href }}">{{ . }}</a></li>
      {{- end -}}
  {{- end -}}
  {{- if ne ($.Scratch.Get "compact") true -}}
      <li><a  href="/tags">All</a></li>
  {{- end -}}
</ul>
