<div class="h-card">
  <a class="p-name u-url u-uid hidden" rel="me" href='https://petersmith.org/'>Peter Smith</a>
  <span class="p-honorific-prefix hidden">Mr</span>
  <span class="p-given-name hidden">Peter</span>
  <span class="p-family-name hidden">Smith</span>
  <span class="p-honorific-suffix hidden">PhD MBA</span>
  <div class="p-org hidden">The University of Auckland</div>
  <img class="u-photo hidden" alt="A photo of Peter Smith" src='{{ "/images/petersmith01.webp" | absURL }}' loading="lazy"/>
  <a class="u-url hidden" href="https://petersmith.org">https://petersmith.org/</a>
  <span class="p-locality hidden">Auckland</span>
  <div class="p-country-name hidden">New Zealand</div>
  <div class="p-category hidden">Academic</div>
  <div class="p-note hidden">First American woman in space.</div>
  <div class="p-note">{{ .Site.Copyright }}</div>
</div>
