{{"<!-- partials/img.html -->" | safeHTML }}
{{/* Set defaults */}}
{{- $imgSrcSet := slice -}}
{{- $opts := . | merge (dict
    "image" .img
    "photosize" 800
    "alt" ""
    "class" ""
    "loading" ""
    "format" "webp"
    "webpHint"  (default "photo" $.webpHint)
    "widths" (slice 200 480 625 768 1024)
    "quality" (default 75 $.quality))
-}}
{{- $metadata := dict "Orientation"  0 -}}



{{- with $opts -}}
   {{- $attributes := "" -}}
   {{- if or (eq .MediaType "image/png") (eq .MediaType "image/jpeg") -}}
   {{- if eq .image.MediaType.SubType "svg" -}}
      <!-- This is NOT an svg -->
      <img src="{{.RelPermalink}}" type="{{.MediaType}}" alt="{{ .alt }}"/>
   {{- else -}}
       <!-- This is NOT an svg -->
       {{- with .image.Exif -}}
           {{- $metadata = merge $metadata .Tags -}}
       {{- end -}}

       {{- $rotation := "" -}}
       {{- with $metadata.Orientation -}}
           {{- if or (eq . 8) (eq . 7) -}}
               {{- $rotation = " r90" -}}
           {{- else if or (eq . 3) (eq . 4) -}}
                {{- $rotation = " r180" -}}
            {{- else if or (eq . 6) (eq . 5) -}}
                {{- $rotation = " r270" -}}
            {{- end -}}
       {{- end -}}

       {{- $imgSrcSet := slice -}}
       {{- range $width := $opts.widths  -}}
           {{- if le $width $opts.photosize -}}
               {{- $newImage := $opts.image.Resize (printf "%dx %s %s" $width $opts.format $rotation) -}}
               {{- $imgUrl :=   $newImage.Permalink -}}
               {{- $imgSrcSet = $imgSrcSet | append (printf "%s %dw" $imgUrl $width) -}}
           {{- end -}}
       {{- end -}}

       {{- $fallbackImage := $opts.image.Resize (printf "800x %s %s" $opts.format $rotation) -}}
       {{- $imgSrcSet := delimit $imgSrcSet ", " -}}
       <img sizes="(min-width: 35em) 1200px, 100vw" srcset="{{ $imgSrcSet }}" src="{{ $fallbackImage.Permalink }}" 
	    alt="{{ .alt | markdownify| plainify }}">
   {{- end -}}
{{- end -}}
{{- end -}}
