<div id="pane-likes">
  {{- with .Resources.GetMatch "responses.json" -}}
      {{- $responses := unmarshal .Content -}}
      {{- if ge (len (where $responses ".like_of" "!=" nil)) 1 -}}
          <h3>Likes</h3>
	  <ul id="likes" class="replies replies-short">
	    {{- range where $responses ".like_of" "!=" nil -}}
	    <li class="h-entry">
	      <div class="reply h-card p-author">
		<a class="reply_avatar u-author" href="{{ .author.url }}">
		  <img loading="lazy" class="u-photo" src="{{- if .author.photo -}}{{- .author.photo -}}{{- else -}}/images/anon.svg{{- end -}}">
		</a>
		<a class="reply_bar u-url" href="{{ .url }}">
		  <div class="reply_author p-name">{{ .author.name }}</div>
		  <div class="reply_date">{{ (time .wm_received).Format "2 Jan '06" }}</div>
		</a>
	      </div>
	    </li>
	    {{- end -}}
	  </ul>
      {{- end -}}
  {{- end -}}
</div>
