{{ define "main" }}
<main>
  <article>
    <div class="article-header"><h1>{{ .Title | singularize }} entries by date</h1></div>
    <!-- "{{.Content}}" pulls from the content of the corresponding _index.org -->
    {{ .Content }}
    <div class="article-content">
      <!-- Ranges through content/posts/*.org -->
      {{ range .Pages.GroupByDate "2006" }}
        {{ partial "toc.html" . }}
      {{ end }}
    </div>
    <div class="article-nav"></div>
    <div class="article-meta"></div>
  </article>
</main>
{{ end }}
