{{ define "main" }}
<main>
  <article>
    {{ "<!-- _default/taxonomy.html -->" | safeHTML }}
    <div class="article-header"><h1>{{ .Title }}</h1></div>
    {{ "<!-- The default taxonomy template -->" | safeHTML }}
    <!-- "{{.Content}}" pulls from the content of the corresponding _index.org -->
    {{ .Content }}
    <div class="article-content">
      <!-- Ranges through content/posts/*.org -->
      <ul>
	{{ range .Data.Pages.GroupByDate "2006" }}
           {{ partial "toc.html" . }}
	{{ end }}
      </ul>
    </div>
    <div class="article-nav"></div>
    <div class="article-meta"></div>
  </article>
</main>
{{ end }}
