{{ define "main" }}
<article>
  <div id="article-header"><h1>{{ humanize .Data.Plural }} alphabetically</h1></div>
  <div id="article-content">{{ $data := .Data }}
    <ul class="wrappinglist">
      {{ range .Data.Terms.Alphabetical }}
      <li><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a> ({{ .Count }})</li>
      {{ end }}
    </ul>
  </div>
  <div id="article-nav"></div>
  <div id="article-meta"></div>
</article>

<article>
  <div id="article-header"><h1>{{ humanize .Data.Plural }} by usage</h1></div>
  <div id="article-content">{{ $data := .Data }}
    <ul class="wrappinglist">
      {{ range .Data.Terms.ByCount }}
      <li><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a> ({{ .Count }})</li>
      {{ end }}
    </ul>
  </div>
  <div id="article-nav"></div>
  <div id="article-meta"></div>
</article>

{{ end }}
