{{- define "main" -}}
{{- if eq .Params.wm_type "like" -}}
{{- .Scratch.Set "webmentionURL" .Params.likeURL -}}
{{- .Scratch.Set "webmentionType" "u-like-of" -}}
{{- else if eq .Params.wm_type "reply" -}}
{{- .Scratch.Set "webmentionURL" .Params.replyURL -}}
{{- .Scratch.Set "webmentionType" "u-in-reply-to" -}}
{{- else -}}
{{- .Scratch.Set "webmentionURL" .Params.replyURL -}}
{{- .Scratch.Set "webmentionType" "u-in-reply-to" -}}
{{- end -}}
<article class="h-entry">
 {{ "<!-- webmentions/single.html -->" | safeHTML }}
  <div class="article-header">
    <a href="{{ .Permalink }}" ><h1 class="article-title p-name">{{ .Title }}</h1></a>
    <h2 class="h-card author post-author p-author  has-text-right">
      <a href="{{ .Site.BaseURL}}" class="u-url url">
	<img class="u-photo photo" src="{{ .Site.Author.photo }}"><br>
	<span class="p-name">{{ .Site.Author.name }}</span>
      </a>
    </h2>
    {{ $dateTime := .PublishDate.Format "2006-01-02T15:04:05Z07:00" }}
    {{ $dateFormat := .Site.Params.dateFormat | default "2 Jan 2006" }}
    <h2 class=" has-text-left">
      <time class="dt-published" datetime="{{ $dateTime }}">{{ .PublishDate.Format "2 Jan 2006" }}</time>
    </h2>

    <hr>
    <ul>
      {{ with .Params.categories }}
      {{ range . }}
      {{ $href := print (absURL "categories/") (urlize .) }}
      <li><a href="{{ $href }}">{{ upper . }}</a></li>
      {{ end }}
      {{ end }}
    </ul>
    <hr>
    <ul>
      {{ with .Params.tags }}
      {{ range . }}
      {{ $href := print (absURL "tags/") (urlize .) }}
      <li><a class="p-category" href="{{ $href }}">{{ . }}</a></li>
      {{ end }}
      {{ end }}
    </ul>
  </div>
  <div class="article-content">
    <a class="{{ .Scratch.Get "webmentionType" }}" href="{{ .Scratch.Get "webmentionURL" }}" >
      <h1 class="article-title has-text-left">{{ .Scratch.Get "webmentionURL" }}</h1>
    </a>
    <div class="e-content blockquote">
      {{- .Content -}}
    </div>
  </div>
  {{- partial "article-nav.html" . -}}
  {{- partial "article-footer.html" . -}}
</article>
{{ end }}
