{{ define "main" }}

<Article>
  <div id="hcard-Peter-Smith" class="h-card hcard has-text-center">
    <a href="/" class="u-url u-uid">
      <img src="/images/PeterInTheOffice-2020-small.jpg" alt="Peter Smith in the office" class="u-photo" width="600" height="400"/>
    </a>

    <data class="p-name" value="Peter Smith"></data>
    <data class="p-given-name" value="Peter"></data>
    <data class="p-family-name" value="Smith"></data>
    <data class="p-job-title" value="Lecturer"></data>
    <data class="p-org" value="The University of Auckland"></data>
    <div class="p-adr h-adr">
      <data class="p-locality" value="Auckland"></data>
      <data class="p-country-name" value="New Zealand"></data>
    </div>
  </div>

  {{- range (where .Site.RegularPages "Title" "About me" | first 1 ) }}
  <h2>{{ .Title }}</h2>
  <div class="p-note">
    {{ .Content }}
  </div>
  {{ end }}

  <section class="topborder">
    <h2 class="is-tight-top">Meta information</h2>
    <div class="columns">
      <div class="column tags">{{- partial "tag-cloud" . -}}</div>
      <div class="column">{{- partial "posting-status" . -}} </div>
    </div>
  </section>


  <meta-data>
    {{ partial "meta-data.html" . }}
    {{ partial "article-footer.html" . }}
  </meta-data>
</article>
{{ end }}
