{{ define "main" }}


<article>
  <div id="hcard-Peter-Smith" class="h-card hcard has-text-center">
    <h2 class="p-name">Peter Smith</h2>
    <data class="p-given-name" value="Peter"></data>
    <data class="p-family-name" value="Smith"></data>
    <p>
      <span class="p-job-title">Lecturer</span>
      at <a class="p-org" href="http://auckland.ac.nz/" target="blank">The University of Auckland</a>
    </p>

    <p class="p-adr h-adr">
      <span class="p-locality">Auckland</span>,
      <span class="p-country-name">New Zealand</span>
    </p>

    <a href="/" class="u-url u-uid">
      <img src="/images/PeterInTheOffice-2020-small.jpg" alt="Peter Smith in the office" class="u-photo"/>
    </a>
  </div>
  
  {{- range (where .Site.RegularPages "Title" "About me" | first 1 ) }}
  <h2>{{ .Title }}</h2>
  <div class="h-card p-note">
    {{ .Content }}
  </div>
  {{ end }}

  
  <section class="columns">
    <div class="column">
      <h2>Sections</h2>
      {{ range .Pages.GroupBy "Section" }}
      <h3>{{ .Key }}</h3>
      <ul>
	{{ range .Pages }}
	Length {{ len .Pages }}
	<li>
          <a href="{{ .Permalink }}">{{ .Title }}</a>
          <div class="meta">{{ .Date.Format "Mon, Jan 2, 2006" }}</div>
	</li>
	{{ end }}
      </ul>
      {{ end }}
    </div>

    <div class="column">
      <h2>Tag cloud</h2>
      {{ partial "tag-cloud" . }}
    </div>
  </section>
  
  {{ partial "meta-data.html" . }}
  <meta-data>
    {{ partial "article-footer.html" . }}
    <div class="channels">
      <ul class="footer-links">{{ range .Site.Menus.main }}
        <li>
          <a href="{{ .URL }}">{{ .Name }}</a>
        </li>
        {{ end }}
      </ul>
    </div>
    <div class="elsewhere">
      <ul class="footer-links" id="relme">
        {{ range .Site.Menus.indieweb }}
        <li>
          <a rel="me" href="{{ .URL }}">{{ .Post }}</a>
        </li>
        {{ end }}
      </ul>
    </div>
  </meta-data>
</article>
{{ end }}

