{{- define "main" -}}
{{"<!-- _default/single.html -->" | safeHTML }}
<article class="h-entry">
  <div class="article-content e-content">
    <h2><a href="{{ .Permalink }}" class="title">{{ .Title }}</a></h2>
    {{- partial "article-h-entry" . -}}
    {{- partial "list-extra-content" . }}
    {{- .Content -}}
    {{- partial "extra-content" . -}}
    {{- partial "backlinks" (dict "page" .) -}}
  </div>
  {{- partial "article-nav" . -}}
</article>
{{- partial "listPageResources" . -}}
{{- end -}}
