html {
		line-height: 1.4;

		@media (min-width: 800px) {
				font-size: 18px;
		}

		@media (min-width: 1200px) {
				font-size: 20px;
		}
}

h1, h2, h3, h4, h5 {
		font-family: "museo-slab";
		font-weight: 700;
}

body {
		font-family: "liberation-sans";
		font-weight: 400;
}

.highlight pre{
  background-color: #424242;
}

hr {
		margin: 0 auto;
    width: 80%;
    border: 0;
    height: 1px;
		margin-top: 20px;
    margin-bottom: 20px;
    background: lightgrey;
}

header {
		text-align: center;
}

footer {
		margin-top: 20px;
		font-size: 14px;
}

a {
		color: #f6491a;
		text-decoration: none;
}

a:focus,
a:hover {
		color: #e43403;
		text-decoration: underline;
}


#wrapper {
		max-width:1280px;
		width:95%;
		margin:0 auto;
		@media only screen and (min-width: 320px) {.column {width:100%;}}
    @media only screen and (min-width: 786px) {.column {width:50%;}}
}

#titlebar {
		margin-top: 1em;
		margin-bottom: 0.65em;		
}

#titlebar a {
		color: black;
		text-decoration: none
}

#titlebar a.hover {
		text-decoration: none;
		color: black;
}

h5.tight,
ul.tight li {
		margin-bottom: 0;
}

.navbar {
		padding-bottom: 0.65em;
		margin-bottom: 0.65em;
		border-bottom: 1px solid lightgrey;
		font-family: "museo-slab";
		font-weight: 600;
}
}

nav.navbar ul {margin: 0 auto; text-align: center;}
nav.navbar ul li {display: inline;	white-space: nowrap;}

nav.navbar ul li a,
nav.navbar ul li a:visited {
		text-decoration: none;
		color: black;
}
nav.navbar ul li a:hover {
		text-decoration: underline;
}

nav.navbar ul li:after {content: " \02043";}
nav.navbar ul li:last-child:after { content: "";}


h5.caps {
		text-transform: uppercase;
		font-weight: 500;
}

.caps {
		text-transform: capitalize;
}

.biobar {
		padding-bottom: 0.65em;
		margin-bottom: 0.65em;
		border-top: 1px solid lightgrey;
}

figure  {
		display: block;
		text-align: center;
}

figcaption h4 {
		font-family: "liberation-sans";
		font-size: 14px;
		font-weight: 400;
		padding: 5px;
		border: none;
		background: transparent;
		word-wrap:normal;
		text-align: center;
}



.frontpage  h4 {
		text-align: center;
		padding-bottom: 0.65em;
		border-bottom: 1px solid lightgrey;
}

.frontpage h4 a,
.frontpage h4 a:link,
.frontpage h4 a:visited,
.frontpage h4 a:active  {
    color: black;
		text-decoration: none;
}

.frontpage h5,
.frontpage h5 a,
.frontpage h5 a:link,
.frontpage h5 a:visited,
.frontpage h5 a:active  {
		text-decoration: none;
		margin-bottom: 0;
}


.frontpage h5 a:hover,
.frontpage h4 a:hover  {
		text-decoration: underline;
}

p.apa {
		margin-top: 1em;
}

ul.apa li a {
		color:  #f6491a;
}

ul.apa, 
.frontpage ul {
		list-style: none;
		margin-left: 0;
		padding-left: 2em;
		text-indent: -2em;
}

.frontpage li {
		margin-bottom: 1em;
}


footer {
		border-top: 1px solid grey;
		text-align: center;
}

article {
    width: 480px;
    margin: 0 auto;
}

.meta {
		text-align: center;
}

h4.meta {
		margin-top: 10px;
		margin-bottom: 0em;
}

h5.meta {
		margin: 0px;
		font-size: 15px;
		font-weight: normal;
}

ul.meta {margin: 0 auto; text-align: center;}
ul.meta li {display: inline;	}
ul.meta li:after {content: " \02043";}
ul.meta li:last-child:after { content: "";}

.categories ul {margin: 0 auto; text-align: left;}
.categories li {display: inline;	}
.categories li:after {content: " \02043";}
.categories li:last-child:after { content: "";}
