<footer class="footer">
  {{ if .IsPage }}
  {{- partial "next-prev.html" . -}}

  {{ partial "meta-data.html" . }}
  {{ end }}
  <div class="channels">
    <ul class="footer-links">{{ range .Site.Menus.main }}
    <li>
      <a href="{{ .URL }}">{{ .Name }}</a>
    </li>
    {{ end }}
    </ul>
  </div>

  <div class="elsewhere">
    <ul class="footer-links" id="relme">
      {{ range .Site.Menus.indieweb }}
      <li>
	<a href="{{ .URL }}" rel="me">{{ .Post }}</a>
      </li>
      {{ end }}
    </ul>
  </div>
</footer>
