{{ define "main" }}


<div id="hcard-Peter-Smith" class="h-card hcard has-text-center">
  <h2 class="p-name">Peter Smith</h2>
  <data class="p-given-name" value="Peter"></data>
  <data class="p-family-name" value="Smith"></data>
  <p>
    <span class="p-job-title">Lecturer</span>
    at <a class="p-org" href="http://auckland.ac.nz/" target="blank">The University of Auckland</a>
  </p>

  <p class="p-adr h-adr">
    <span class="p-locality">Auckland</span>,
    <span class="p-country-name">New Zealand</span>
  </p>

  <a href="/" class="u-url u-uid">
    <img src="/images/PeterInTheOffice-2020.jpg" alt="Peter Smith in the office" class="u-photo"/>
  </a>
</div>


<article>
  {{- range (where .Site.RegularPages "Section" "site-info" | first 1 ) }}
  <h2>{{ .Title }}</h2>
  <div class="h-card p-note">
    {{ .Content }}
  </div>
  {{ end }}
</article>

{{ end }}

