{{ define "main" }}


<div id="hcard-Peter-Smith" class="h-card hcard has-text-center">
  <h2 class="p-name">Peter Smith</h2>
  <data class="p-given-name" value="Peter"></data>
  <data class="p-family-name" value="Smith"></data>
  <data class="p-adr h-adr p-locality" value="Auckland"></data>,
  <data class="p-adr h-adr p-country-name" value="New Zealand"></data>

  <p>
    <div class="p-job-title">Lecturer</div> at  
    <a class="p-org h-card" href="http://auckland.ac.nz/" target="blank">The University of Auckland</a>
  </p>

  <a href="/" class="u-url u-uid">
    <img src="/images/PeterInTheOffice-2020.jpg" alt="Peter Smith in the office" class="u-photo"/>
  </a>
</div>


<article>
  {{- range (where .Site.RegularPages "Section" "site-info" | first 1 ) }}
  <h2>{{ .Title }}</h2>
  {{ .Content }}
  {{ end }}
</article>


{{ end }}

