{{ define "main" }}


<div id="hcard-Peter-Smith" class="h-card hcard has-text-center">
  <h2 class="p-name">
    <data class="p-given-name">Peter</data>
    <data class="p-family-name">Smith</data>
  </h2>
  <p class="p-adr h-adr">
    <data class="p-locality">Auckland</data>,
    <data class="p-country-name">New Zealand</data>
  </p>

  <p>
    <data class="p-job-title">Lecturer</data> at
    <a class="p-org" href="http://auckland.ac.nz/" target="blank" rel="noopener">The University of Auckland</a>
  </p>

  <a href="/" class="u-url u-uid">
    <img src="/images/PeterInTheOffice-2020.jpg" alt="Peter Smith in the office" class="u-photo"/>
  </a>
</div>


<article>
  {{- range (where .Site.RegularPages "Section" "site-info" | first 1 ) }}
  <h2>{{ .Title }}</h2>
  {{ .Content }}
  {{ end }}
</article>


{{ end }}

